$color-header: #101E30;
$main-color: #101E30;

$gradiente-principal: linear-gradient(135deg, #101E30 0%, #101E30 25%, rgba(12, 13, 65, 0.7) 68%, rgba(79, 34, 142, 0) 100%);

$font-family: 'Roboto', sans-serif;
$mapa: (
	"light": 300,
	"regular": 400,
	"black":900
);

$secondary-family: 'Oswald', sans-serif;
$mapa: (
	"light": 300,
	"regular": 400,
	"bold":700
);